[submodule "7_1_esp32_workspace/esp_idf_bico_protocol_bridge/components/arduino"]
	path = 7_1_esp32_workspace/esp_idf_bico_protocol_bridge/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
